<div class="col-lg-4">
	<h3>{{title}}</h3>
	<div class="side-menu" data-example-id="sample-nav-stacked">
		<ul class="nav navbar-nav">
			<li role="presentation" [routerLinkActive]="['active']">
				<a [routerLink]="['listado']">Listado</a>
			</li>
			<li role="presentation">
				<a [routerLink]="['crear']">Crear</a>
			</li>
			<li role="presentation">
				<a [routerLink]="['listado']">Información</a>
			</li>
		</ul>
	</div>
</div>

<div class="con-lg-8">	
<router-outlet></router-outlet>
</div>