<nav class="navbar navbar-expand-lg">
		<a [routerLink]="['/home']" class="navbar-brand" style="text-decoration: none; color:black;">{{title}}</a>
	<div class="collapse navbar-collapse">
		
		<ul class="nav navbar-header">
			<li><a [routerLink]="['/home']" [routerLinkActive]="['active']"
				   style="text-decoration: none; color:black;">Inicio</a>
			</li>&nbsp;&nbsp;
			<li><a [routerLink]="['/animales']"  [routerLinkActive]="['active']"
				   style="text-decoration: none; color:black;">Animales</a>
			</li>&nbsp;&nbsp;
			<li><a [routerLink]="['/cuidadores']" [routerLinkActive]="['active']"
				   style="text-decoration: none; color:black;">Cuidadores</a>
			</li>&nbsp;&nbsp;
			<li><a [routerLink]="['/tienda']" [routerLinkActive]="['active']"
				   style="text-decoration: none; color:black;">Tienda</a>
			</li>&nbsp;&nbsp;
			<li><a [routerLink]="['/contacto']" [routerLinkActive]="['active']"
				   style="text-decoration: none; color:black;">Contacto</a>
			</li>&nbsp;&nbsp;
			
		</ul>
	</div>
</nav> 


<div class="col-lg-11">
<router-outlet></router-outlet>
</div>


